.app-top{
display: flex;
}
.app-nav{
display: flex;
flex-direction: column;
}
.app-content{
    display: flex;
    flex-direction: column;
}
.album{
    display: flex;
    justify-content: stretch;
}
.app-bottom{
    display: flex;

}
.current{
    display: flex;
    flex-grow:1;
}
.controls{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.current-details{
    display:flex ;
    flex-direction: column;
    justify-content: space-evenly ;
}